body {
  background-image: url("https://drive.google.com/thumbnail?id=1JxgtK_n9TtsvrzNMMaOCaV4FK01K9nOs");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  margin-left: 45px;
}

h12 {
  margin-left: 60px;

  
