body {
  background-image: url("https://drive.google.com/thumbnail?id=1lK06clQ9TCABFEx5fGI0VkLnr_lwChYB"); 
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  margin-left: 45px;
}

h12 {
  margin-left: 60px;

  